## Visual Studio / .NET build artifacts

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

# BenchmarkDotNet output
BenchmarkDotNet.Artifacts/

# NuGet
*.nupkg
*.nuget.props
*.nuget.targets
**/packages/*
!**/packages/build/

# Misc build/log/temp files
*.pdb
*.log
*.tmp
*.tmp_proj
*.cache
!*.[Cc]ache/

# OS files
Thumbs.db
.DS_Store
