<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>

  <!--
  <connectionStrings>
    <add name="SQLConn" connectionString="Data Source =&quot;|DataDirectory|\MMORPG.sdf&quot;" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  -->

  <!--
  <appSettings>
  
    <add key="SQLConnection" value="Data Source=localhost; Initial Catalog=master; User Id=DevAgent; Password=dev;"/>
    <add key="SQLConnection1" value="Data Source=localhost; Initial Catalog=master; Trusted_Connection=True;"/>

  </appSettings>
  -->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
